body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-column {
    flex: 1;
    padding-right: 20px;
}

.photo-container {
    text-align: center;
    margin-bottom: 20px;
}

.photo-container img {
    max-width: 100%;
    height: auto;
}

.right-column {
    flex: 2;
}

h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

p {
    color: #555;
    line-height: 1.6;
    margin-bottom: 10px;
}

#date {
    font-weight: bold;
}
